
<% unless @user.meal_subscription.new_record? %>
  <h5>Subscription Status</h5>
  <% Spree::MealSubscription.statuses.each do |status, _| %>
    <div class="radio-inline"><label style="font-weight: normal"><%= f.radio_button :status, status %> <%= status.to_s.humanize %></label></div>
  <% end -%>
  <p id="pause-warning" style="display:none">
    <small>
      <em>Updates to subscription settings do not affect subscription orders which are in progress.</em>
      <%= support_email_link("Help with my subscription", "Contact support") %> and we’ll do our best to accommodate your needs.
    </small>
  </p>
<% end -%>

<h3>Your Delivery</h3>
<% delivery_address_formatted = render :partial => 'spree/shared/address', :locals => { :address => spree_current_user.default_address } %>
<div class="form-inline">
  <p>
    <%= f.select :meal_count, f.object.valid_meal_counts.map { |n| [pluralize(n, 'meal'), n] }, {}, class: "form-control form-control--inline input-sm" %>
    to <strong><%= delivery_address_formatted %></strong> <small>(<%= link_to "change", account_address_path %>)</small> on:
  </p>
</div>

<h5>Delivery Day</h5>
<div class="radio-group">
  <% earliest_start_day = 7.days.from_now %>
  <% first_start_date = true %>
  <% Spree::MealSubscription.delivery_days.each do |day, wday| %>
    <div class="radio">
      <label class="delivery-day-label">
        <%= f.radio_button :delivery_day, day, class: "delivery-day" %>
        <%= day.to_s.pluralize.humanize %>
      </label>
      <% if @user.meal_subscription.start_date.blank? || @user.meal_subscription.start_date > 7.days.from_now %>
        <div style="<%= "display: none" unless f.object.delivery_day == day %>" id="<%= "#{day}-start-dates" %>" class="start-dates"
          ><div class="start-dates__prefix">Beginning on</div>
          <% next_start_date = earliest_start_day.next_week(day.to_sym) %>
          <% 3.times do |n| %>
            <label class="start-date">
              <%= f.radio_button :start_date, next_start_date, class: "#{day}-start-date", checked: first_start_date %>
              <% first_start_date = false %>
              <%= next_start_date.to_s(:ordinal_month_day) %>
            </label>
            <% next_start_date = next_start_date.next_week(day.to_sym) %>
          <% end -%>
        </div>
      <% else -%>
        <% if f.object.delivery_day == day %>
          <em><%= Time.now.next_week(day.to_sym).to_s(:ordinal_month_day) %> is your next delivery.</em>
        <% else -%>
          <span style="display: none" id="<%= "#{day}-effective-date" %>" class="effective-date">beginning on: <%= earliest_start_day.next_week(day.to_sym).to_s(:ordinal_month_day) %></span>
        <% end -%>
      <% end -%>
    </div>
  <% end -%>
</div>

<% if delivery_zone.blank? %>
  <p>
    Your delivery address
    <small>(<%= delivery_address_formatted %> <%= link_to "change", account_address_path %>)</small>
    is not in Din’s delivery area.</p>
<% else %>
  <h5>Delivery Time</h5>
  <div class="radio-group">
    <% delivery_zone.delivery_windows.each do |delivery_window| %>
      <div class="radio">
        <label>
          <%= f.radio_button :delivery_window_id, delivery_window.id %>
          <%= delivery_window %>
          <% discounted_delivery_cost = (delivery_window.cost - 5.0)%>
          <span class="label label-shipping"><%= discounted_delivery_cost <= 0 ? 'FREE' : Spree::Money.new(discounted_delivery_cost) %></span>
        </label>
      </div>
    <% end %>
  </div>
  <% if delivery_zone.try(:name) != "San Francisco" %>
    <p><small>Additional delivery windows are available within San Francisco.</small></p>
  <% end -%>
<% end -%>

<h3>Notifications</h3>
<p>Four days before your delivery we will send your menu via:</p>
<div class="checkbox-group">
  <div class="checkbox">
    <label>
      <%= f.check_box :notification_email %>
      <strong>text message</strong> to
      <%= format_phone_number(spree_current_user.default_address.phone) %> <small>(<%= link_to "change", account_address_path %>)</small>
    </label>
  </div>
  <div class="checkbox">
    <label>
      <%= f.check_box :notification_sms %>
      <strong>email</strong> to
      <%= spree_current_user.email %> <small>(<%= link_to "change", edit_account_path %>)</small>
    </label>
  </div>
</div>

<div class="form-group form-footer">
  <%= f.submit @user.meal_subscription.new_record? ? "Create Subscription" : "Update Subscription", :class => 'btn btn-primary' %>
</div>

<script>
  $(function(){
    $("[name='meal_subscription[status]']").click(function(){
      if ($(this).val() == "paused") {
        $("#pause-warning").show()
      } else {
        $("#pause-warning").hide()
      }
    })
    var $notificationTypes = $("#meal_subscription_notification_sms, #meal_subscription_notification_email")
    $notificationTypes.change(function(){
      if (!$(this).prop("checked")) {
        $notificationTypes.not($(this)).prop({checked: true});
      }
    })
    $(".delivery-day").click(function(){
      var day = $(this).val();
      $(".start-dates, .effective-date").hide();
      $("#" + day + "-start-dates, #" + day + "-effective-date").show();
      $("." + day + "-start-date").first().prop({checked: true});
    })
  })
</script>
