<div class="container container--main">
  <h1>Subscription</h1>

  <% content_for :subscription_details do %>
    <h4>1. Tell us what you want.</h4>
    <p>
      You <%= link_to "tell us what you like to eat", account_meal_preference_path %>,
      choose the number of two-serving meals you want each week,
      and when you want your meals delivered.
      You may pause your subscription at any time.
    </p>

    <h4>2. We create your personalized menu.</h4>
    <p>
      <%# Your menu is inspired by seasonal ingredients, partner restaurants, and their talented chefs. %>
      You get first access to new dishes and restaurants on the Din menu.
      We choose seasonal restaurant dishes matching what you like to eat.

      Meal prices are set by restaurants and vary, but average $16 per serving.
      Subscribing is free. Delivery fees vary by location.
    </p>

    <h4>3. You review your menu.</h4>
    <p>
      We send your menu to you <%= Spree::MealSubscription.notification_lead_time_days %> days before your delivery.
      If you like the menu, your work is done.
      Want to change your menu?
      You have <%= Spree::MealSubscription.notification_lead_time_days - Spree::MealSubscription.order_lead_time_days %> days to select different meals from Din’s full menu for the week, or cancel a delivery.
    </p>

    <h4>4. Restaurants prep & pack. We deliver.</h4>
    <p>
      Restaurant chefs source and prep ingredients, and pack meals in their kitchens.
      We deliver meals in an insulated tote with dry ice to keep your meals cool for up to 4 hours.
      You may leave the tote with our driver or return it on your next delivery.
    </p>
  <% end -%>

  <% if @meal_subscription.new_record? %>
    <%= yield :subscription_details %>
  <% else -%>
    <p>Learn about <a href="#how-it-works">how subscription works</a>.</p>
    <p class="callout">
      <strong>Note:</strong>
      <em>Updating your subscription settings does not affect subscription orders which are in progress.</em>
      <%= support_email_link("Help with my subscription", "Contact support") %> and we’ll do our best to accommodate your needs.
    </p>
  <% end -%>

  <%= form_for @meal_subscription, url: account_meal_subscription_path, method: :post, html: {id: "edit", class: "page-anchor"} do |f| %>
    <%= render partial: 'form', locals: {f: f, meal_subscription: @meal_subscription} %>
  <% end %>

  <% if !@meal_subscription.new_record? %>
    <div id="how-it-works" class="how-subscription-works">
      <h2>How Subscription Works</h2>
      <%= yield :subscription_details %>
      <a href="#edit" class="btn btn-xs btn-info">edit your subscription</a>
    </div>
  <% end -%>
</div>
