<div class="container container--main">
  <h1>Subscription</h1>

  <% content_for :subscription_details do %>
    <h4>1. Tell us what you want.</h4>
    <p>
      You <%= link_to "tell us what you like to eat", account_meal_preference_path %>,
      choose the number of meals you want each week,
      and when you want your meals delivered.
    </p>

    <h4>2. We create your personalized menu.</h4>
    <p>
      <%# Your menu is inspired by seasonal ingredients, partner restaurants, and their talented chefs. %>
      We choose seasonal restaurant dishes that match what you like.
      Meal prices are set by restaurants and vary, but average $16/serving.
      Delivery is free, there’s no additional cost to subscribe.
    </p>

    <h4>3. You review your menu.</h4>
    <p>
      You’ll receive your menu 4 days before your delivery via text and/or email.
      If the menu looks good, your work is done.
      Want to change your menu?
      You may select any meals from our weekly menu or cancel a delivery up to 48 hours before your delivery.
    </p>

    <h4>4. Restaurants prep & pack. We deliver.</h4>
    <p>
      Restaurant chefs source and prep ingredients, and pack meals in their kitchens.
      We deliver meals in an insulated tote with dry ice to keep your meals cool for up to 4 hours.
      You may leave the tote with our driver or return on your next delivery.
    </p>
  <% end -%>

  <% if @user.meal_subscription.new_record? %>
    <%= yield :subscription_details %>
  <% else -%>
    Learn about <a href="#how-it-works">how subscription works</a>.
  <% end -%>

  <%= form_for @meal_subscription, url: account_meal_subscription_path, method: :post, html: {id: "edit", class: "page-anchor"} do |f| %>
    <%= render partial: 'form', locals: {f: f} %>
  <% end %>

  <% if !@user.meal_subscription.new_record? %>
    <div id="how-it-works" class="how-subscription-works">
      <h2>How Subscription Works</h2>
      <%= yield :subscription_details %>
      <a href="#edit" class="btn btn-xs btn-info">edit your subscription</a>
    </div>
  <% end -%>
</div>
