<div class="container container--main">
  <h1>Meal Subscription</h1>

  <% content_for :subscription_details do %>
    <h4>Din will suggest exciting meals to you each week.</h4>
    <p>Three days before your delivery day, Din will suggest meals via email (and optionally text message). Suggested meals will match your <%= link_to "meal preferences", account_meal_preference_path %>. </p>

    <h4>If you’re excited about the suggested meals, do nothing. </h4>
    <p>The suggested meals will arrive on your delivery day. You will be billed at 5pm the night before your delivery.</p>

    <h4>Want to change the suggested meals, or cancel a delivery? </h4>
    <p>You may change or cancel your order until 5pm the night before your selected delivery, when your order is processed.</p>

    <h4>How much does subscription cost?</h4>
    <p>There is no cost for a subscription other than the cost of meals. Meal prices are set by our restaurant partners and average about $32 ($16/serving). The price of each meal will be included in the email and text message with suggested meals each week.</p>
  <% end -%>

  <% if @user.meal_subscription.new_record? %>
    <%= yield :subscription_details %>
  <% else -%>
    Learn about <a href="#how-it-works">how subscription works</a>.
  <% end -%>

  <%= form_for @meal_subscription, url: account_meal_subscription_path, method: :post, html: {id: "edit", class: "page-anchor"} do |f| %>
    <%= render partial: 'form', locals: {f: f} %>
  <% end %>

  <% if !@user.meal_subscription.new_record? %>
    <div id="how-it-works" class="how-subscription-works">
      <h2>How Subscription Works</h2>
      <%= yield :subscription_details %>
      <a href="#edit" class="btn btn-info">edit your subscription</a>
    </div>
  <% end -%>
</div>
