<% @show_kitchen_status = true %>
<div class="bg-tan">
  <div class="container container--main">
    <h1 class="hr-header">Frequently Asked Questions</h1>

    <h4>What is Din?</h4>
    <p>Din preps ingredients so you can cook restaurant meals at home. Our freshly prepared ingredients enable you to cook faster with more flavor and wider variety. Din is a service for people who are short on time and want to cook quality meals at home. With Din, you can stop wasting time figuring out what to make, searching for parking at the grocery store and throwing away food that goes bad before you get a chance to eat it.</p>
    <p>Din is faster than the grocery store, better than takeout, and cheaper than a restaurant.</p>

    <!--<h4>How do I order?</h4>
    <h4>How do I change my email address?</h4>
    <h4>How do I change my password?</h4>
    <h4>I forgot my password, help!</h4>
    <h4>I’ll need to see this on the website to explain these in the FAQ’s</h4>-->
    <h4>Which days do you deliver?</h4>
    <p>We deliver meals Monday-Wednesday in the San Francisco Bay Area.</p>

    <h4>How much does delivery cost?</h4>
    <p>In San Francisco, delivery is between $4.99–$8.99 depending on which delivery window you select. In the rest of the San Francisco Bay Area, delivery is $6.99. Orders over $60.00 qualify for a free 4-hour delivery.</p>

    <h4>Where do you deliver?</h4>
    <p>We deliver to San Francisco and the greater San Francisco Bay Area.</p>

    <h4>What are your delivery windows?</h4>
    <p>In San Francisco, we offer 4 delivery windows:</p>
    <ul>
      <li>1-5pm</li>
      <li>6-8pm</li>
      <li>6-7pm</li>
      <li>7-8pm</li>
    </ul>
    <p>In the rest of the Bay Area delivery is available:</p>
    <ul>
      <li>1-5pm</li>
    </ul>

    <h4>When do I need to place my order?</h4>
    <p>To receive your order during the 1-5pm delivery window, you’ll need to place your order by noon. For orders placed in the evening delivery windows (6-7pm, 7-8pm, or 6-8pm), you’ll need to place your order by 5pm the day of delivery.</p>

    <h4>Can I pre-order meals?</h4>
    <p>We currently only offer same-day ordering and do not accept pre-orders.</p>

    <h4>What can I expect in my delivery?</h4>
    <p>Each meal you receive will come with pre-portioned and prepped ingredients, enough to cook two servings. You’ll also receive a recipe card with simple instructions to cook your meal.</p>

    <h4>Can I cancel my order?</h4>
    <p>Once you place an order, it cannot be cancelled through our website. Should you need to cancel your order after it has been placed, please <a href="/help">contact our support team</a>, and we will do our best to accommodate your request.</p>

    <h4>What if I’m not home at the time of my delivery?</h4>
    <p>You don't have to be home when we deliver, your Din meals will be delivered to your home or office in an insulated tote bag with dry ice to keep your food fresh. We recommend you move your meals to the fridge as soon as possible, but they'll stay cold until around 8pm following your delivery.</p>
    <p>If you know you will not be home at the time of your delivery, we recommend that you add delivery instructions during check-out to let our courier know where to leave the order.</p>
    <p>Our drivers will attempt to contact you upon arrival. If they cannot reach you and there are no delivery instructions, your order will be left at your address. Please note that our drivers will do the best to leave your order in a safe place, but we cannot guarantee that a secure location will always be available.</p>

    <h4>How do I change my delivery address, instructions or window after my order has been placed?</h4>
    <p>If you need to change delivery information after you place your order, please reach out to our support team at <%= support_email_link("How do I change the order I just placed?") %>
     or <%= support_phone_link %> and they will pass this new information along to the courier. If the order is in transit, we may not be able to change the delivery window or address. We will do our best to accommodate your request.</p>

    <h4>Do I need to tip the driver?</h4>
    <p>Our drivers are paid a competitive rate. While appreciated, tipping is not required.</p>

    <h4>Do you have meals that work for my dietary needs (vegetarian, vegan, gluten-free, etc.)?</h4>
    <p>Meals will be marked with the following labels: vegetarian, vegan, soy-free, dairy-free, nut-free, spicy, paleo, gluten-free.</p>

    <h4>What if I have a food allergy?</h4>
    <p>Meals will be labeled for the following allergens: milk, eggs, fish, shellfish, tree nuts, peanuts, wheat, soybeans. All meals will also include a list of ingredients.You are also welcome to reach out to our support team at <%= support_email_link("What if I have a food allergy?") %> or <%= support_phone_link %> with any specific questions. Din meals are prepared in kitchens that also process milk, eggs, fish, shellfish, tree nuts, wheat, peanuts, soybeans and other common allergens.</p>

    <h4>How do I return my tote bag?</h4>
    <p>The tote bag can be returned at your next delivery, simply leave the bag out or return it directly to the driver for us to reuse. You are also welcome to keep the tote—it comes in handy for grocery shopping and picnics!</p>

    <h4>How do I dispose of the dry ice?</h4>
    <p>We use dry ice to keep your order cold during delivery and it will sublimate on it’s own. You can leave the dry ice outside or in a well ventilated space away from children and pets. We do not recommend disposing of dry ice in your sink, as the extreme temperature can damage your pipes.</p>

    <h4>Is your packaging environmentally friendly?</h4>
    <p>Nearly all of our packaging is reusable or recyclable. We care about the environmental impact of our packaging and know that it matters to our customers as well. We use as little packaging as possible and always make environmentally friendly choices. You won't receive any styrofoam from Din.</p>

    <h4>How long do Din meals stay fresh?</h4>
    <p>All our meals are best on the day they are delivered, but will stay fresh for at least 48 hours after delivery when properly refrigerated. We've learned that some pre-prepped ingredients and delicate ingredients (like herbs, fish, and some produce) don't fare well in the refrigerator for extended periods of time, so we recommend ordering on the day you plan to cook with us.</p>

    <h4>What do I need to have in my kitchen to be able to cook Din meals?</h4>
    <p>We expect our customers to have some basic kitchen equipment and a few pantry essentials. Before you start cooking with Din, make sure you have the following on hand:</p>

    <h4>Tools</h4>
    <ul>
      <li>Knives and cutting board</li>
      <li>Skillet/frying pan (preferably one that is oven safe)</li>
      <li>Baking sheet</li>
      <li>Sauce pans (small and large)</li>
      <li>Mixing bowls</li>
    </ul>

    <h4>Pantry</h4>
    <ul>
      <li>Olive oil</li>
      <li>High heat oil (grapeseed, organic canola, bran etc.)</li>
      <li>Butter</li>
      <li>Salt</li>
      <li>Black pepper</li>
      <li>Flour</li>
      <li>Sugar</li>
      <li>Vinegar (red or white)</li>
    </ul>

    <h4>There was a problem with my order, what do I do?</h4>
    <p>Contact us at <%= support_email_link("Help! There was a problem with my order") %> or call us at <%= support_phone_link %>. We’ll do our best to fix any issues.</p>


    <h4>How do I reach customer support?</h4>
    <p>Have another question? Want to chat? We’d love to hear from you! Contact us at <%= support_email_link("Trying to reach customer support") %> or call us at <%= support_phone_link %>.</p>

  </div>
</div>
