<% @show_kitchen_status = false %>

<div class="bg-tan">
  <div class="jumbotron index-hero">
    <div class="container">
      <h1 class="hr-header">Din for Restaurants</h1>
      <p class="sub-header text-center type-serif">Cook In instead of Take Out</p>
      <div class="text-center">
        <a class="btn btn-primary js_learn_more_button" href="#get-started">Get Started with Din</a>
      </div>
    </div>
  </div>
</div>
  <nav class="restaurant-sub-nav">

    <div class="container container--nav">

      <div class="main-nav__menu">
        <a class="main-nav__link" href="#overview">Overview</a>
        <a class="main-nav__link" href="#how-it-works">How It Works</a>
        <a class="main-nav__link" href="#testimonials">Testimonials</a>
      </div>
      <div class="main-nav__user">
        <a class="btn btn-sm btn-default js_learn_more_button" href="#get-started">Get Started</a>
      </div>

    </div>

  </nav>

<div class="bg-tan">
  <div id="overview" class="container">
    <br><br><br>
    <div class="row">
      <div class="col-md-3 text-center">
        <h4>Add Orders, Not Tables</h4>
        <p>Some additional text and information will go here.</p>
      </div>
      <div class="col-md-3 text-center">
        <h4>Off-Peak Demand</h4>
        <p>Some additional text and information will go here.</p>
      </div>
      <div class="col-md-3 text-center">
        <h4>Your Food, Our Format</h4>
        <p>Some additional text and information will go here.</p>
      </div>
      <div class="col-md-3 text-center">
        <h4>No Waste</h4>
        <p>Some additional text and information will go here.</p>
      </div>
    </div>
    <br><br><br><br>
  </div>
</div>
<div>
  <div id="how-it-works" class="container">
    <br><br>
    <h2 class="text-center">How It Works</h2>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  </div>
</div>
<div class="bg-tan">
  <div id="testimonials" class="container">
    <h2 class="text-center">Current Partners</h2>
  </div>
</div>
<div>
  <div id="get-started" class="container">
    <h2>Partner with Din</h2>
  </div>
</div>

<div class="bg-tan">
  <div id="press" class="container press-coverage">
    <div class="row">
      <div class="col-xs-12">
        <%= inline_svg("press/wall-street-journal.svg", class: "press-logo") %>
        <%= inline_svg("press/eater.svg", class: "press-logo") %>
        <%= inline_svg("press/techcrunch.svg", class: "press-logo") %>
        <%= inline_svg("press/food-and-wine.svg", class: "press-logo") %>
        <%= inline_svg("press/thekitchn.svg", class: "press-logo") %>
      </div>
    </div>
  </div>
</div>
