<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= tag('meta', name: "robots", content: "noindex, nofollow") unless TRUE_PRODUCTION_INSTANCE %>
    <title><%= title %></title>
    <%# meta_data_tags %>
    <%= canonical_tag(current_store.url) %>
    <%= favicon_link_tag 'icons/favicon.ico' %>
    <%= stylesheet_link_tag 'spree/frontend/all', :media => 'screen' %>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'spree/frontend/all' %>
    <%= render :partial => 'spree/shared/analytics_trackers' %>
    <% if spree_current_user %>
      <script>
        _kmq.push(['identify', '<%= j spree_current_user.email -%>']);
      </script>
    <% end -%>
    <%= intercom_script_tag %>
    <%= yield :head %>
  </head>
  <body class="<%= body_class %>" id="<%= @body_id %>">

    <%= render :partial => 'spree/shared/header' %>

    <%= flash_messages(ignore_types: %w[user_signed_up]) %>

    <% if !KITCHEN.open? && @show_kitchen_status %>
      <div class="kitchen-status-closed">
        <div class="container">
          <%= render :partial => 'spree/shared/kitchen_reopens' %>
        </div>
      </div>
    <% end -%>

    <%= yield %>

    <%= render :partial => 'spree/shared/footer' %>
  </body>
</html>
