<% content_for :head do %>
  <script type="text/javascript">
    $(function() {
      var metadata = {
        kitchen_open: <%= KITCHEN.open? %>,
        authenticated: <%= spree_current_user.present? %>,
        item_count: <%= @order.item_count %>,
        cart_total: <%= @order.total.to_f %>,
        items_sold_out: $(".js_product_sold_out").length
      };
      track({name: "visited cart", metadata: metadata});
      trackAmplitude({name: 'Purchase Intent - Visited cart', metadata: metadata});
    });
  </script>
  <%= render partial: 'shared/purchase_funnel_tracking' %>
<% end -%>

<% @body_id = 'cart' %>

<%= render partial: 'spree/shared/shipping_promo', locals: { type: "flash" } %>

<div class="container container--main">

  <h1><%= Spree.t(:cart) %></h1>

  <% if @promo %>
    <p>Continue checkout to claim <strong><%= @promo.description %>, <%= @promo.name %></strong>.</p>
  <% end %>

  <%= form_for @order, url: update_cart_path, html: {id: 'update-cart'} do |order_form| %>
    <%= render :partial => 'form', :locals => { :order_form => order_form } %>
    <div>
      <%# order_form.text_field :coupon_code, :size => 10, :placeholder => Spree.t(:coupon_code) %>
      <%= button_tag Spree.t(:update), :class => 'btn btn-default pull-right', :id => 'update-button' %>
      <% if KITCHEN.open? %>
        <%= button_tag Spree.t(:checkout), :class => 'checkout btn btn-primary', :id => 'checkout-link', :name => 'checkout' %>
      <% else %>
        <%= Spree.t(:checkout_disabled) %>
      <% end %>
    </div>
  <% end %>

  <% if @products_not_in_order.present? %>
    <div class="related-products">
      <h3 class="related-products__title">More from the menu…</h3>
      <div class="contanier">
        <div class="product-grid">
          <% @products_not_in_order.each do |product| %>
            <% url = spree.product_path(product, taxon_id: @taxon.try(:id)) %>
            <div class="product-grid__item">
              <%= link_to url, class: "product__link" do %>
                <%= image_tag(product.display_image.attachment(:menu), itemprop: "image", class: "product__image") %>
                <div class="product__details product__details--related-product">
                  <h4 class="product__name black-link">
                    <%= product.name %>
                  </h4>
                </div>
                <p class="product__meta grey-link text-center">
                  <%= Spree.t(:half_price_x_2, half_price: product.half_price) %>
                </p>
              <% end -%>
              <%= render partial: 'spree/shared/order_form', locals: { product: product } %>
            </div>
          <% end -%>
        </div>
      </div>
    </div>
  <% end -%>

</div>
