<div class="container container--main">
  <h1>Payment Card</h1>

  <p>Card payments powered by <strong>Stripe</strong>.</p>
  <% if @credit_card %>
    <h4>Current Card</h4>
    <p>
      <span id="cc-type"><%= Spree.t(@credit_card.cc_type) %></span>
      <small>
        <span id="cc-last4"><%= @credit_card.last_digits %></span>
        <span id="cc-month"><%= @credit_card.month %></span>/<span id="cc-year"><%= @credit_card.year %></span>
      </small>
    </p>
  <% end -%>
  <script type="text/javascript" src="https://checkout.stripe.com/checkout.js"></script>
  <p>
    <button id="change-payment-card" class="btn btn-info"><%= @credit_card ? "Change Card" : "Add Card" %></button>
    <span id="change-payment-card-loading" style="display: none"><span class="loader-quart"> Loading…</span></span>
  </p>

</div>

<%= form_for Spree::CreditCard.new, url: account_cards_path, method: :post do |f| %>
  <%= hidden_field_tag :gateway_token_id %>
  <%= f.hidden_field :gateway_payment_profile_id %>
  <%= f.hidden_field :name %>
  <%= f.hidden_field :month %>
  <%= f.hidden_field :year %>
  <%= f.hidden_field :cc_type %>
  <%= f.hidden_field :last_digits %>
  <%= fields_for :address, Spree::Address.new do |a| %>
    <%= a.hidden_field :firstname %>
    <%= a.hidden_field :lastname %>
    <%= a.hidden_field :address1 %>
    <%= a.hidden_field :city %>
    <%= a.hidden_field :zipcode %>
    <%= a.hidden_field :state_name %>
  <% end -%>
<% end -%>

<script>
  $(function(){
    var formSubmitted = false;
    function enableLoading() {
      $("#change-payment-card").hide();
      $("#change-payment-card-loading").show();
    }
    function disableLoading() {
      $("#change-payment-card").show();
      $("#change-payment-card-loading").hide();
    }
    function stripeOpened() {
      $("#change-payment-card").hide();
      $("#change-payment-card-loading").hide();
    }
    function stripeClosed() {
      if (formSubmitted) {
        enableLoading();
      } else {
        disableLoading();
      }
    }
    var stripeAddCard = StripeCheckout.configure({
      key: '<%= @payment_method.preferred_publishable_key %>',
      locale: 'auto',
      name: 'Din, Inc.',
      image: '<%= image_path('logo/din.png') %>',
      panelLabel: "Add Card",
      description: 'New Payment Card',
      email: "<%= @user.email %>",
      allowRememberMe: false,
      billingAddress: true,
      zipCode: true,
      closed: stripeClosed,
      opened: stripeOpened,
      token: function(token) {
        formSubmitted = true;
        $("#cc-month").text(token.card.exp_month);
        $("#cc-year").text(token.card.exp_year);
        $("#cc-type").text(token.card.type);
        $("#cc-last4").text(token.card.last4);
        $("#gateway_token_id").val(token.id);
        $("#credit_card_gateway_payment_profile_id").val(token.card.id);
        $("#credit_card_name").val(token.card.name);
        $("#credit_card_month").val(token.card.exp_month);
        $("#credit_card_year").val(token.card.exp_year);
        $("#credit_card_cc_type").val(token.card.type);
        $("#credit_card_last_digits").val(token.card.last4);
        var customer_name = token.card.name.split(" ");
        $("#address_firstname").val(customer_name.shift());
        $("#address_lastname").val(customer_name.join(" ") || "(not provided)");
        $("#address_address1").val(token.card.address_line1);
        $("#address_city").val(token.card.address_city);
        $("#address_state_name").val(token.card.address_state);
        $("#address_zipcode").val(token.card.address_zip);
        $("#new_credit_card").submit();
      }
    });
    $('#change-payment-card').on('click', function(event) {
      event.preventDefault();
      enableLoading(); // trigger ui change sooner.
      stripeAddCard.open();
    });
  })
</script>
