<% content_for :head do %>
  <script type="text/javascript">
    var metadata = {
      cart_total: <%= @order.total.to_f %>,
      item_count: <%= @order.item_count %>
    }
    <% if flash['user_signed_up'] %>
      metadata.signed_up_during_checkout = true;
    <% end -%>
    <% if flash['signed_in'] %>
      metadata.signed_in_during_checkout = true;
    <% end -%>
    track({name: "visited checkout step address", metadata: metadata});
    trackAmplitude({name: 'Checkout - Address', metadata: metadata});
  </script>
<% end -%>

<%= form.fields_for :ship_address do |ship_form| %>
  <h3><%= Spree.t(:shipping_address) %></h3>
  <%= render :partial => 'spree/address/form', :locals => { :form => ship_form, :address_type => 'shipping', :address => @order.ship_address } %>
<% end %>

<%= hidden_field_tag 'save_user_address', 1 %>

<%= submit_tag Spree.t(:save_and_continue), :class => 'continue btn btn-primary' %>
