<% content_for :head do %>
  <script type="text/javascript">
    var metadata = {
      city: "<%= j @order.ship_address.city %>",
      postal_code: "<%= j @order.ship_address.zipcode %>"
    }
    track({name: "visited checkout step delivery", metadata: metadata});
  </script>
<% end -%>

<% if flash[:error].present? %>
  ERROR: <%= flash[:error] %>
<% end %>
<h1><%= Spree.t(:delivery) %></h1>
<%= form.fields_for :shipments do |ship_form| %>

  <label><%= Spree.t(:delivery_window) %></label>
  <% if available_windows = ship_form.object.delivery_windows.available.presence %>
    <% available_windows.each do |delivery_window| %>
      <div class="radio">
        <label>
          <%= ship_form.radio_button :delivery_window_id, delivery_window.id %>
          <strong><%= delivery_window %></strong>
          (<%= delivery_window.display_cost %>)
        </label>
      </div>
    <% end %>
  <% else %>
    <p><%= Spree.t(:no_available_delivery_windows) %></p>
  <% end %>

<% end %>

<% if Spree::Config[:shipping_instructions] %>
  <div class="form-group">
    <%= form.label :special_instructions, Spree.t(:delivery_instructions) %>
    <%= form.text_area :special_instructions, class: "form-control resize-vertical-only", placeholder: Spree.t(:delivery_instructions_placeholder) %>
  </div>
<% end %>

<%= submit_tag Spree.t(:save_and_continue), :class => 'continue btn btn-primary' %>
