<% if flash[:error].present? %>
  ERROR: <%= flash[:error] %>
<% end %>
<h1><%= Spree.t(:delivery) %></h1>
<%= form.fields_for :shipments do |ship_form| %>

  <label><%= Spree.t(:delivery_window) %></label>
  <% if available_windows = ship_form.object.delivery_windows.available.presence %>
    <% available_windows.each do |delivery_window| %>
      <div class="radio">
        <label>
          <%= ship_form.radio_button :delivery_window_id, delivery_window.id %>
          <strong><%= delivery_window %></strong>
          (<%= delivery_window.display_cost %>)
        </label>
      </div>
    <% end %>
  <% else %>
    <p><%= Spree.t(:no_available_delivery_windows) %></p>
  <% end %>

<% end %>

<% if Spree::Config[:shipping_instructions] %>
  <p id="minstrs" data-hook>
    <%= form.label :special_instructions, Spree.t(:shipping_instructions) %><br />
    <%= form.text_area :special_instructions, :cols => 40, :rows => 7, class: "form-control", placeholder: "Delivery Instructions (e.g. leave at the front door)" %>
  </p>
<% end %>

<%= submit_tag Spree.t(:save_and_continue), :class => 'continue btn btn-primary' %>
