<% content_for :head do %>
  <script type="text/javascript">
    var metadata = {
      city: "<%= j @order.ship_address.city %>",
      postal_code: "<%= j @order.ship_address.zipcode %>"
    }
    track({name: "visited checkout step delivery", metadata: metadata});
  </script>
<% end -%>

<% delivery_windows_available = true %>
<% difference = 0 %>

<h1><%= Spree.t(:delivery) %></h1>
<%= form.fields_for :shipments do |ship_form| %>
  <label><%= Spree.t(:delivery_window) %></label>
  <% if ship_form.object.delivery_windows.available.count == 0 %>
    <% delivery_windows_available = false %>
    <p><%= Spree.t(:no_available_delivery_windows) %></p>
  <% else %>
    <% difference = @order.shipping_promotion_difference.money %>
  <% end %>

  <% ship_form.object.shipping_rates.each do |shipping_rate| %>
    <% shipping_rate.shipping_method.delivery_windows.each do |delivery_window| %>
      <% disabled = !delivery_window.currently_available? %>
      <div class="radio">
        <label class="<%= 'disabled' if disabled %>">
          <% checked = shipping_rate.selected && delivery_window.currently_available? %>
          <%= ship_form.radio_button :delivery_window_id, delivery_window.id, checked: checked, disabled: disabled %>
          <strong><%= delivery_window %></strong>
          <% if delivery_window.cost == shipping_rate.cost %>
            <span class="label label-shipping"><%= shipping_rate.display_cost %></span>
          <% else %>
            <del class="label label-shipping"><%= delivery_window.display_cost %></del>
            <strong class="label label-discounted-shipping"><%= shipping_rate.cost == 0 ? 'FREE' : shipping_rate.display_cost %></strong>
          <% end %>
          <% if disabled %>
            Available for orders placed before <%= delivery_window.available_until.to_s(:short_time) %>
          <% end %>
        </label>
      </div>
    <% end %>
  <% end %>
<% end %>

<div class="form-group">
  <% if difference > 0 %>
    <p>
      To get <strong><%= @order.discounted_shipping_cost %> Shipping</strong>, add <strong><%= Spree::Money.new(difference) %></strong> to your order.
    </p>
  <% elsif @order.shipping_promotion_calculator.present? %>
    <p>
      Congratulations! Your order qualifies for <strong><%= @order.discounted_shipping_cost %> Shipping</strong>!
    </p>
  <% end %>
</div>

<% if Spree::Config[:shipping_instructions] %>
  <div class="form-group">
    <%= form.label :special_instructions, Spree.t(:delivery_instructions) %>
    <%= form.text_area :special_instructions, class: "form-control resize-vertical-only", placeholder: Spree.t(:delivery_instructions_placeholder) %>
  </div>
<% end %>

<%= submit_tag Spree.t(:save_and_continue), :class => 'continue btn btn-primary' %>
