<% content_for :head do %>
  <script type="text/javascript">
    var metadata = {
      city: "<%= j @order.ship_address.city %>",
      postal_code: "<%= j @order.ship_address.zipcode %>"
    }
    track({name: "visited checkout step delivery", metadata: metadata});
    trackAmplitude({name: 'Checkout - Delivery', metadata: metadata});
  </script>
<% end -%>

<h1><%= Spree.t(:delivery) %></h1>
<label>Delivery Date</label>
<% ([Time.current.to_date] + KITCHEN.shipment_dates_available).each do |date| %>
  <% disabled = date == Time.current.to_date %>
  <div class="radio <%= 'disabled' if disabled %>">
    <label>
      <%= form.radio_button :shipment_date, date.in_time_zone, disabled: disabled %>
      <span class="shipment-date__name"><%= Kronic.format date %>, <%= date.to_s(:ordinal_month_day) %></span>
      <span class="shipment-date__name"><%= "– Unavailable" if disabled %></span>
    </label>
  </div>
<% end %>

<%= form.fields_for :shipments do |ship_form| %>

<%
=begin Remove shipping promotion CTA's. %>

  <div class="form-group">
    <% if ship_form.object.delivery_windows.available.count == 0 %>
      <p><%= Spree.t(:no_available_delivery_windows) %></p>
    <% else %>
      <% difference = @order.shipping_promotion_difference.money %>
      <% if difference > 0.to_money %>
        <p>
          To get <strong><%= @order.discounted_shipping_cost %> Shipping</strong>, add <strong><%= Spree::Money.new(difference) %></strong> to your order.
        </p>
      <% elsif @order.shipping_promotion_calculator.present? %>
        <p>
          <span class="delivery-window--delivery-discount">Congratulations! Your order qualifies for <strong><%= @order.discounted_shipping_cost %> delivery</strong>!</span>
        </p>
      <% end %>
    <% end -%>
  </div>

<%
=end %>

  <label><%= Spree.t(:delivery_window) %></label>
  <% ship_form.object.shipping_rates.each do |shipping_rate| %>
    <% shipping_rate.shipping_method.delivery_windows.each do |delivery_window| %>
      <% disabled = !delivery_window.currently_available? %>
      <div class="radio <%= 'disabled' if disabled %>">
        <label>
          <% checked = shipping_rate.selected && delivery_window.currently_available? %>
          <%= ship_form.radio_button :delivery_window_id, delivery_window.id, checked: checked, disabled: disabled %>
          <strong class="delivery-window__name"><%= delivery_window %></strong>
          <% if delivery_window.cost == shipping_rate.cost %>
            <span class="label label-shipping"><%= shipping_rate.display_cost %></span>
          <% else %>
            <del class="label label-shipping"><%= delivery_window.display_cost %></del>
            <strong class="label label-discounted-shipping"><%= shipping_rate.cost == 0 ? 'FREE' : shipping_rate.display_cost %></strong>
          <% end %>
          <%
=begin %>
            <span class="delivery-window__cutoff">
              available until <strong><%= delivery_window.available_until.to_s(:short_time) %></strong>
            </span>
          <%
=end %>
        </label>
      </div>
    <% end %>
  <% end %>
<% end %>

<%= submit_tag Spree.t(:save_and_continue), :class => 'continue btn btn-primary' %>
