<% content_for :head do %>
  <script type="text/javascript">
    var metadata = {
      item_count: <%= @order.item_count %>,
      cart_total: <%= @order.total.to_f %>,
      delivery_window: "<%= j @order.delivery_window.to_s %>"
    }
    track({name: "visited checkout step payment", metadata: metadata});
    trackAmplitude({name: 'Checkout - Payment', metadata: metadata});
    <% if payment_error_message.present? %>
      metadata.error = '<%= j payment_error_message %>';
      track({name: "experienced payment error", metadata: metadata});
      trackAmplitude({name: 'Checkout - Payment error', metadata: metadata});
    <% end %>
  </script>
<% end -%>

<h1><%= Spree.t(:payment) %></h1>

<% payment_method = Spree::DEFAULT_PAYMENT_METHOD %>
<%= hidden_field_tag "order[payments_attributes][][payment_method_id]", payment_method.id %>
<%= render partial: "spree/shared/stripe", locals: { payment_method: payment_method, email: @order.user.email, credit_card: @payment_sources.first, form: form, field_prefix: "payment_source[#{payment_method.id}]" } %>

<%= submit_tag Spree.t(:save_and_continue), class: 'continue btn btn-primary', tabindex: 20, id: "new_credit_card" %>
<script>Spree.disableSaveOnClick();</script>
