<% content_for :head do %>
  <script type="text/javascript">
    var metadata = {
      delivery_window: "<%= j @order.delivery_window.to_s %>"
    }
    track({name: "visited checkout step payment", metadata: metadata});
    <% if flash['payment_error'].present? %>
      var metadata = {
        item_count: <%= @order.item_count %>,
        cart_total: <%= @order.total.to_f %>,
        error: '<%= j flash['payment_error'] %>'
      }
      track({name: "experienced payment error", metadata: metadata});
    <% end %>
  </script>
<% end -%>

<h1><%= Spree.t(:payment) %></h1>

<p>Card payments powered by Stripe.</p>

<% if @payment_sources.present? %>
  <div id="existing_cards">
    <p class="field" data-hook="existing_cards">
      <table class="table existing-credit-card-list">
        <tbody>
          <% @payment_sources.each do |card| %>
            <tr id="<%= dom_id(card,'spree')%>" class="existing-card">
              <td>
                <%= radio_button_tag "order[existing_card]", card.id, (card == @payment_sources.first), { class: "existing-cc-radio" }  %>
              </td>
              <td><%= card.name %></td>
              <td><%= Spree.t(card.cc_type) %></td>
              <td>*<%= card.last_digits %></td>
              <td><%= card.month %>/<%= card.year.split(//).last(2).join %></td>
            </tr>
          <% end %>
          <tr>
            <td>
              <%= radio_button_tag "order[existing_card]", 'no', false, { class: "existing-cc-radio" }  %>
            </td>
            <td colspan="4">
              <label for="order_existing_card_no">
                <%= Spree.t(:use_a_new_card) %>
              </label>
            </td>
          </tr>
        </tbody>
      </table>
    </p>
  </div>
<% end %>

<div id="payment-methods">
  <% method = @order.available_payment_methods.first %>
  <%= hidden_field_tag "order[payments_attributes][][payment_method_id]", method.id %>
  <%= render :partial => "spree/checkout/payment/#{method.method_type}", :locals => { :payment_method => method } %>
</div>

<%= submit_tag Spree.t(:save_and_continue), :class => 'continue btn btn-primary', :tabindex => 20 %>
<script>Spree.disableSaveOnClick();</script>
