<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @user } %>
<div class="container container--main-content">
  <h1><%= Spree.t(:create_account) %></h1>
  <%= form_for @user, :as => :spree_user, :url => spree.registration_path(@user) do |f| %>
    <%= render :partial => 'spree/shared/user_form', :locals => { :f => f } %>
    <%= f.submit Spree.t(:create_account), :class => 'btn btn-primary' %>
  <% end %>

  <p>Already have a Din account? <%= link_to Spree.t(:login), spree.login_path %></p>
</div>
