<%# image_tag 'credit_cards/credit_card.gif', id: 'credit-card-image' %>
<% param_prefix = "payment_source[#{payment_method.id}]" %>

<div class="form-group">
  <%= label_tag "name_on_card_#{payment_method.id}", Spree.t(:name_on_card) %>
  <%= text_field_tag "#{param_prefix}[name]", "#{@order.billing_firstname} #{@order.billing_lastname}", class: "form-control", id: "name_on_card_#{payment_method.id}", :tabindex => 1, autofocus: true %>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="form-group" data-hook="card_number">
      <%= label_tag "card_number", Spree.t(:card_number) %>
      <% options_hash = Rails.env.production? ? {:autocomplete => 'off'} : {} %>
      <%= text_field_tag "#{param_prefix}[number]", '', options_hash.merge(:id => 'card_number', :class => 'required cardNumber form-control', :size => 19, :maxlength => 19, :autocomplete => "off", :tabindex => 2) %>
      <span id="card_type" style="display:none;">
        (
          <span id="looks_like" ><%= Spree.t(:card_type_is) %> <span id="type"></span></span>
          <span id="unrecognized"><%= Spree.t(:unrecognized_card_type) %></span>
        )
      </span>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="form-group" data-hook="card_expiration">
      <%= label_tag "card_expiry", Spree.t(:expiration) %>
      <%= text_field_tag "#{param_prefix}[expiry]", '', :id => 'card_expiry', :class => "required cardExpiry form-control", :placeholder => "MM / YY", :tabindex => 3 %>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="form-group" data-hook="card_code">
      <%= label_tag "card_code", Spree.t(:cvc) %> (<%= link_to "#{Spree.t(:what_is_this)}", spree.cvv_path, :target => '_blank', "data-hook" => "cvv_link", :id => "cvv_link" %>)
      <%= text_field_tag "#{param_prefix}[verification_value]", '', id: "card_code", class: "required cardCode form-control", :tabindex => 4 %>
    </div>
  </div>
</div>

<% if @order.bill_address %>
  <%= fields_for "#{param_prefix}[address_attributes]", @order.bill_address do |f| %>
    <%= render :partial => 'spree/address/form_hidden', :locals => { :form => f } %>
  <% end %>
<% end %>

<%= hidden_field_tag "#{param_prefix}[cc_type]", '', :id => "cc_type", :class => 'ccType' %>
