<!DOCTYPE html>
<html>
<head>
  <title><%= @email_title || "" %></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <style type="text/css">
    <%= Rails.application.assets[@email_styles].to_s.html_safe if @email_styles.present? %>
  </style>
  <% if @email_styles_responsive.present? %>
    <style type="text/css" data-premailer="ignore">
      <%= Rails.application.assets[@email_styles_responsive].to_s.html_safe %>
    </style>
  <% end -%>
</head>
<body style="margin: 0 !important; padding: 0 !important;">

  <% if @email_preheader.present? %>
    <div class="email-prehead">
      <%= @email_preheader %>
    </div>
  <% end -%>

  <%= yield %>

</body>
</html>
