<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= tag('meta', name: "robots", content: "noindex, nofollow") unless ENV["EMAIL_HOST"] == "din.co" %>
    <title><%= title %></title>
    <%= favicon_link_tag 'icons/favicon.ico' %>
    <%= stylesheet_link_tag 'spree/backend/label', :media => 'all' %>
    <%= csrf_meta_tags %>
    <%#= javascript_include_tag 'spree/frontend/all' %>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6/html5shiv.min.js"></script>
    <![endif]-->
    <%#= javascript_include_tag 'spree/frontend/nav' %>
    <%= yield :head %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
