<% content_for :head do %>
  <script type="text/javascript">
    $(function() {
      trackAmplitude({name: 'Purchase Intent - Viewed product page', metadata: productMetadata($(".add-product-form"))});
    });
  </script>
  <%= render partial: 'shared/purchase_funnel_tracking' %>
<% end -%>
<% @body_id = 'product-details' %>
<% @show_kitchen_status = true %>
<% components = @product.property('components') %>

<% if spree_current_user.try(:admin?) %>
  <div class="admin-nav bg-danger">
    <div class="container text-center">
      <strong>Admin:</strong>
      <%= link_to "print ingredient labels", main_app.admin_labels_ingredient_path(large_labels: strip_tags(components).strip) %>
      |
      <%= link_to "print meal bag label", main_app.admin_meal_label_print_path(@product) %>
    </div>
  </div>
<% end -%>

<% cache [I18n.locale, current_currency, @product, Time.current.midnight.to_s(:number), KITCHEN.status, params[:subscription_menu]] do %>

  <div itemscope itemtype="http://schema.org/Product">
    <div class="container">

      <div class="product product-detail__header">

        <%= image_tag @product.display_image.attachment(:detail), itemprop: "image", class: "product__image" %>

        <div class="product__details">
          <h1 class="product__name text-center--on-mobile" itemprop="name">
            <%= @product.name %>
          </h1>
          <% if @product.property('tagline').present? %>
            <div class="product__tagline grey-link"><%= @product.property('tagline') %></div>
          <% end -%>
          <h4 class="product__restaurant-name block--above">
            <%= [@product.restaurant, @product.chef].compact.map(&:name).join(', ') %>
          </h4>
        </div>

        <% unless params[:subscription_menu] %>
          <div class="product__add-form">
            <%= render partial: 'spree/shared/order_form', locals: { product: @product, button_type: "product-detail" } %>
          </div>
        <% end %>
      </div>

      <% if @product.description.present? %>
        <div class="product-detail__description">
          <%= product_description(@product) %>
        </div>
      <% end -%>

    </div>

    <div class="bg-tan">
      <div class="container">
        <p class="text-center product-detail__meta">
          <% if @product.property('time-minutes').present? %>
            <span><%= @product.property('time-minutes') %> minutes</span>
          <% end -%>
          <% if @product.diets.present? %>
            <span class="text-separator"></span>
            <span><%= @product.diets.map(&:name).join(", ") %></span>
          <% end -%>
        </p>
      </div>
    </div>

    <div class="container container--main">

      <div class="row">
        <% if @product.property('components').present? %>
          <div class="col-sm-6">
            <h2>In the Bag</h2>
            <ul>
              <%= components.html_safe %>
            </ul>
          </div>
        <% end -%>

        <div class="col-sm-6">
          <% if @product.pantry.present? or @product.equipment.present? %>
            <h2>From your Kitchen</h2>
          <% end -%>

          <% if @product.pantry.present? %>
            <h5>Pantry</h5>
            <ul><li><%= @product.pantry.map(&:name).join("</li><li>").html_safe %></li></ul>
          <% end -%>

          <% if @product.equipment.present? %>
            <h5>Equipment</h5>
            <ul><li><%= @product.equipment.map(&:name).join("</li><li>").html_safe %></li></ul>
          <% end -%>
        </div>
      </div>

      <% if @product.property('directions').present? %>
        <div class="product__directions">
          <h2>Directions</h2>
          <% if @product.property('time-minutes').present? %>
            <p><em>This meal should take about <strong><%= @product.property('time-minutes') %> minutes</strong> to prepare.</em></p>
          <% end -%>
          <ol class="meal-directions">
            <%= @product.property('directions').html_safe %>
          </ol>
        </div>
      <% end -%>

      <% if @product.property('ingredients').present? %>
        <p class="small">
          <strong>Ingredients:</strong>
          <%= @product.property('ingredients').html_safe %>
        </p>
      <% end -%>

      <% if @product.allergens.present? %>
        <p class="small">
          <strong>Contains:</strong>
          <%= @product.allergens.map(&:name).join(", ") %>.
        </p>
      <% end -%>

      <p class="small"><em><%= Spree.t(:allergen_warning) %></em></p>

  <!--
      <div itemprop="description">
        <ul>
          <li>attachment.url(:mini): <%= @product.display_image.attachment.url(:mini) %></li>
          <li>attachment.url(:menu): <%= @product.display_image.attachment.url(:menu) %></li>
          <li>attachment.url(:detail): <%= @product.display_image.attachment.url(:detail) %></li>
          <li>attachment.url(:original): <%= @product.display_image.attachment.url(:original) %></li>
          <li>attachment_width: <%= @product.display_image.attachment_width %></li>
          <li>attachment_height: <%= @product.display_image.attachment_height %></li>
          <li>attachment_file_size: <%= @product.display_image.attachment_file_size %></li>
          <li>position: <%= @product.display_image.position %></li>
          <li>attachment_content_type: <%= @product.display_image.attachment_content_type %></li>
          <li>attachment_file_name: <%= @product.display_image.attachment_file_name %></li>
          <li>alt: <%= @product.display_image.alt %></li>
          <li>images:
            <div>large: <%= image_tag(@product.display_image.attachment.url(:detail)) %></div>
            <ul>
              <% @product.images.each do |image| %>
                <li>
                  <%= image_tag(image.attachment.url(:mini)) %>
                </li>
              <% end %>
            </ul>
          </li>
        </ul>
      </div>

      <div>
        <% if @product.property('callout-1').present? %>
          callout-1:
          <%= @product.property('callout-1').html_safe %>
        <% end -%>
      </div>
      <div>
        <% if @product.property('callout-2').present? %>
          callout-2:
          <%= @product.property('callout-2').html_safe %>
        <% end -%>
      </div>
      <div>
        <% if @product.property('sidebar').present? %>
          sidebar:
          <%= @product.property('sidebar').html_safe %>
        <% end -%>
      </div>

      <% if restaurant = @product.restaurant.presence %>
        <div><%= link_to restaurant.name, seo_url(restaurant) %></div>
        <div>restaurant.name: <%= restaurant.name %></div>
        <div>restaurant.description: <%= restaurant.description.html_safe if restaurant.description %></div>
        <div>restaurant.permalink: <%= restaurant.permalink %></div>
        <div>restaurant.icon: <%= restaurant.icon %></div>
        <div>restaurant_logo_url: <%= restaurant_logo_url(restaurant) %></div>
        <div>restaurant_photo_url: <%= restaurant_photo_url(restaurant) %></div>
      <% end %>

      <% if chef = @product.chef.presence %>
        <div><%= link_to chef.name, seo_url(chef) %></div>
        <div>chef.name: <%= chef.name %></div>
        <div>chef.description: <%= chef.description.html_safe if chef.description %></div>
        <div>chef.permalink: <%= chef.permalink %></div>
        <div>chef.icon: <%= chef.icon %></div>
        <div>chef_photo_url: <%= chef_photo_url(chef) %></div>
      <% end %>
  -->


    </div>
  </div>
<% end %>
