<% content_for :head do %>
  <%= stylesheet_link_tag 'spree/backend/bootstrap_default', :media => 'all' %>
<% end -%>

<div class="container">
  <%= form_tag admin_labels_tote_print_path, method: :get do %>
    <h1><%= @title %></h1>
    <p>
      <label>Print for <%= date %></label>
    </p>
    <% @delivery_windows.each do |d| %>
      <p>
        <%= d %> <%= d.shipping_method.try(:code) || "(no shipping method)" %>
        <% order_count = @order_counts[d.id] %>
        <% if order_count > 0 %>
          —
          <%= link_to admin_labels_tote_print_path(date: date.to_s, delivery_window_id: d.id), class: 'btn btn-default' do %>
            <strong><%= pluralize(order_count, 'order') %> / <%= pluralize(@label_counts[d.id], 'label') %></strong>
          <% end -%>
        <% end -%>
      </p>
    <% end -%>
    <p class="small">
      <%= link_to "View #{date.yesterday}", admin_labels_tote_path(date: date.yesterday) %>
      <% unless date == Time.current.to_date %>
      / <%= link_to("Back to Today", admin_labels_tote_path) %>
      <% end %>
    </p>
  <% end -%>
</div>
