<% if @meal_preference.present? && @meal_preference.errors.any? %>
  <div id="error_explanation">
    <div class="bg-danger flash">
      <% @meal_preference.errors.full_messages.each do |msg| %>
        <p><%= msg %></p>
      <% end %>
    </div>
  </div>
<% end %>

<div class="row form-group">
  <div class="col-sm-6">
    <h3>I enjoy eating:</h3>
    <div class="checkbox"><label><%= f.check_box :diet_beef, checked: (@meal_preference.presence.try(:diet_beef).nil? ? true : @meal_preference.presence.try(:diet_beef)) %> beef</label></div>
    <div class="checkbox"><label><%= f.check_box :diet_lamb, checked: (@meal_preference.presence.try(:diet_lamb).nil? ? true : @meal_preference.presence.try(:diet_lamb)) %> lamb</label></div>
    <div class="checkbox"><label><%= f.check_box :diet_pork, checked: (@meal_preference.presence.try(:diet_pork).nil? ? true : @meal_preference.presence.try(:diet_pork)) %> pork</label></div>
    <div class="checkbox"><label><%= f.check_box :diet_poultry, checked: (@meal_preference.presence.try(:diet_poultry).nil? ? true : @meal_preference.presence.try(:diet_poultry)) %> poultry</label></div>
    <div class="checkbox"><label><%= f.check_box :diet_rabbit, checked: (@meal_preference.presence.try(:diet_rabbit).nil? ? true : @meal_preference.presence.try(:diet_rabbit)) %> rabbit</label></div>
    <div class="checkbox"><label><%= f.check_box :diet_fish, checked: (@meal_preference.presence.try(:diet_fish).nil? ? true : @meal_preference.presence.try(:diet_fish)) %> fish</label></div>
    <div class="checkbox"><label><%= f.check_box :diet_seafood, checked: (@meal_preference.presence.try(:diet_seafood).nil? ? true : @meal_preference.presence.try(:diet_seafood)) %> seafood</label></div>
    <div class="checkbox"><label><%= f.check_box :diet_tofu, checked: (@meal_preference.presence.try(:diet_tofu).nil? ? true : @meal_preference.presence.try(:diet_tofu)), class: "vegetarian-diet" %> tofu</label></div>
    <div class="checkbox"><label><%= f.check_box :diet_tempeh, checked: (@meal_preference.presence.try(:diet_tempeh).nil? ? true : @meal_preference.presence.try(:diet_tempeh)), class: "vegetarian-diet" %> tempeh</label></div>
    <p>
      <a href="" class="set-diet-vegetarian btn btn-xs btn-info">I’m vegetarian</a>
      <a href="" class="reset-diets btn btn-xs btn-info">All</a>
    </p>
  </div>
  <div class="col-sm-6">
    <h3>I do not eat:</h3>
    <div class="checkbox"><label><%= f.check_box :allergen_none, checked: (@meal_preference.presence.try(:allergen_none).nil? ? true : @meal_preference.presence.try(:allergen_none)) %> none</label></div>
    <div class="checkbox"><label><%= f.check_box :allergen_eggs, checked: (@meal_preference.presence.try(:allergen_eggs).nil? ? false : @meal_preference.presence.try(:allergen_eggs)) %> eggs</label></div>
    <div class="checkbox"><label><%= f.check_box :allergen_fish, checked: (@meal_preference.presence.try(:allergen_fish).nil? ? false : @meal_preference.presence.try(:allergen_fish)) %> fish</label></div>
    <div class="checkbox"><label><%= f.check_box :allergen_milk, checked: (@meal_preference.presence.try(:allergen_milk).nil? ? false : @meal_preference.presence.try(:allergen_milk)) %> milk</label></div>
    <div class="checkbox"><label><%= f.check_box :allergen_peanuts, checked: (@meal_preference.presence.try(:allergen_peanuts).nil? ? false : @meal_preference.presence.try(:allergen_peanuts)) %> peanuts</label></div>
    <div class="checkbox"><label><%= f.check_box :allergen_shellfish, checked: (@meal_preference.presence.try(:allergen_shellfish).nil? ? false : @meal_preference.presence.try(:allergen_shellfish)) %> shellfish</label></div>
    <div class="checkbox"><label><%= f.check_box :allergen_soybeans, checked: (@meal_preference.presence.try(:allergen_soybeans).nil? ? false : @meal_preference.presence.try(:allergen_soybeans)) %> soybeans</label></div>
    <div class="checkbox"><label><%= f.check_box :allergen_tree_nuts, checked: (@meal_preference.presence.try(:allergen_tree_nuts).nil? ? false : @meal_preference.presence.try(:allergen_tree_nuts)) %> tree nuts</label></div>
    <div class="checkbox"><label><%= f.check_box :allergen_wheat_gluten, checked: (@meal_preference.presence.try(:allergen_wheat_gluten).nil? ? false : @meal_preference.presence.try(:allergen_wheat_gluten)) %> wheat/gluten</label></div>
  </div>
</div>

<div class="form-group">
  <%= f.submit "Save Food Preferences", :class => 'btn btn-primary' %>
</div>

<script type="text/javascript">
$(function(){
  var allergens = $("[name^='meal_preference[allergen']")
  var noAllergens = $("#meal_preference_allergen_none")
  allergens.click(function(){
    if ($(this).is(noAllergens) && $(this)[0].checked) {
      allergens.not(noAllergens).prop({checked: false});
    } else {
      noAllergens.prop({checked: false});
    }
    if (allergens.filter(":checked").length == 0) {
      noAllergens.prop({checked: true});
    }
  })
  var diets = $("[name^='meal_preference[diet']")
  var vegetarianDiets = $(".vegetarian-diet")
  $(".set-diet-vegetarian").click(function(e){
    e.preventDefault();
    diets.not(vegetarianDiets).prop({checked: false})
    vegetarianDiets.prop({checked: true})
  })
  $(".reset-diets").click(function(e){
    e.preventDefault();
    diets.prop({checked: true})
  })
})
</script>
