<h1>Show Meal Preferences</h1>

id: <%= @meal_preference.id %>

<h3>Diets</h3>
<p><%= @meal_preference.diet_vegetarian ? "√" : "-"%> diet_vegetarian</p>
<p><%= @meal_preference.diet_beef ? "√" : "-"%> diet_beef</p>
<p><%= @meal_preference.diet_lamb ? "√" : "-"%> diet_lamb</p>
<p><%= @meal_preference.diet_poultry ? "√" : "-"%> diet_poultry</p>
<p><%= @meal_preference.diet_pork ? "√" : "-"%> diet_pork</p>
<p><%= @meal_preference.diet_fish ? "√" : "-"%> diet_fish</p>
<p><%= @meal_preference.diet_seafood ? "√" : "-"%> diet_seafood</p>

<h3>Allergens</h3>
<p><%= @meal_preference.allergen_none ? "√" : "-"%> allergen_none</p>
<p><%= @meal_preference.allergen_eggs ? "√" : "-"%> allergen_eggs</p>
<p><%= @meal_preference.allergen_fish ? "√" : "-"%> allergen_fish</p>
<p><%= @meal_preference.allergen_milk ? "√" : "-"%> allergen_milk</p>
<p><%= @meal_preference.allergen_peanuts ? "√" : "-"%> allergen_peanuts</p>
<p><%= @meal_preference.allergen_shellfish ? "√" : "-"%> allergen_shellfish</p>
<p><%= @meal_preference.allergen_soybeans ? "√" : "-"%> allergen_soybeans</p>
<p><%= @meal_preference.allergen_tree_nuts ? "√" : "-"%> allergen_tree_nuts</p>
<p><%= @meal_preference.allergen_wheat_gluten ? "√" : "-"%> allergen_wheat_gluten</p>

<p><%= link_to 'Edit', edit_meal_preference_path(@meal_preference) %></p>
