<% content_for :page_title do %>
  Subscription Meals
<% end %>

<fieldset>
  <legend align="center">Subscription Stock</legend>
  <div class="row">
    <div class="alpha four columns">
      <div class="field">
        <label for="subscription_delivery_date">Delivery Date</label>
        <input class="datepicker fullwidth" type="text" id="subscription_delivery_date">
      </div>
      <div class="field">
        <p>Sort meals into the order which we recommend meals, after filtering for user meal preferences and order history.</p>
      </div>
    </div>
    <div class="alpha twelve columns">
      <div class="field">
        <label>Subscription Menu</label>
        <div id="subscription_products" class="list-group ui-sortable">
          <% @products.each do |product| %>
            <div id="<%= "product_#{product.id}" %>" data-product-id="<%= product.id %>" class="sort_item list-group-item">
              <i class="fa fa-sort sort-handle"></i>
              <input class="align-right" maxlength="3" size="3" type="text" value="0">
              <span class="product_name"><%= product.name %> (<%= product.restaurant.try(:name) %>) <b><%= product.price %></b></span>
            </div>
          <% end -%>
        </div>
      </div>
    </div>
  </div>

  <div class="actions filter-actions">
    <button name="button" type="submit" class="fa fa-arrow-down button">Preview Orders</button>
  </div>
</fieldset>



<fieldset>
  <legend>Subscription Orders Preview</legend>

  <table>
    <thead>
      <tr>
        <th>email</th>
        <th>product</th>
        <th>first name</th>
        <th>sms</th>
        <th>email</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>foo@bar.com</td>
        <td>meal name</td>
        <td>Lorem</td>
        <td>(no email)</td>
        <td>415-555-1212</td>
      </tr>
      <tr>
        <td>foo@bar.com</td>
        <td>meal name</td>
        <td>Lorem</td>
        <td>(no email)</td>
        <td>415-555-1212</td>
      </tr>
      <tr>
        <td>foo@bar.com</td>
        <td>meal name</td>
        <td>Lorem</td>
        <td>(no email)</td>
        <td>415-555-1212</td>
      </tr>
    </tbody>
  </table>
  <div class="actions filter-actions">
    <button name="button" type="submit" class="fa fa-ok button">Create Subscription Orders</button>
  </div>
</fieldset>


