<%
  delivery_address = @user.default_address
  meal_preference = @user.meal_preference
  credit_card = @user.default_credit_card
%>
<div class="container container--main">
  <h1>
    <%= "Your Account" || Spree.t(:account) %>
    <%= link_to Spree.t(:logout), spree.logout_path, class: "btn btn-default btn-xs btn-info" %>
  </h1>

  <p>
    <%= @user.email %>
    <br>
    <%= link_to "edit", spree.edit_account_path, class: "btn btn-xs btn-info" %>
  </p>

  <% if @personal_referral_promo %>
    <div class="page-section">
      <h4>Share the Din Love</h4>
      <p>Give a friend <strong><%= @personal_referral_promo.description.sub(/your/, 'their') %></strong>. Send them your referral link: <%= link_to(nil, main_app.personal_promo_url(@personal_referral_promo.path)) %></p>
    </div>
  <% end %>

  <div class="page-section">
    <h4>
      Subscription
    </h4>
    <p>
      <% if sub = @user.meal_subscription %>
        <% if sub.status == "paused" %>
          Subscription is paused.
        <% else -%>
          <strong>
            <%= Spree.t(:subscription_summary, day: sub.delivery_day.titleize, meal_count: sub.meal_count, delivery_window: sub.delivery_window) %>
          </strong>
          <br>
          <%= Spree.t(:subscription_notification_summary, notification_weekday: sub.delivery_day.titleize, meal_count: sub.meal_count, notification_channels: sub.notification_channels.to_sentence, open_days: Spree::MealSubscription.order_open_days, order_processed_weekday: sub.order_processed_weekday) %>
        <% end -%>
        <br>
        <%= link_to "edit", account_meal_subscription_path, class: "btn btn-xs btn-info" %>
      <% else -%>
        <% if @user.meal_preference && delivery_address && credit_card %>
          Become a Din subscriber.
          <br>
          <%= link_to "create a subscription", account_meal_subscription_path, class: "btn btn-xs btn-info" %>
        <% else
          todo = []
          todo.push(link_to "meal preferences", account_meal_preference_path) unless meal_preference
          todo.push(link_to "delivery address", account_address_path) unless delivery_address
          todo.push(link_to "payment method", account_cards_path) unless credit_card
        -%>
          In order to setup a subscription, add your <%= todo.to_sentence.html_safe %>.
        <% end -%>
      <% end -%>
    </p>
  </div>

  <div class="page-section">
    <h4>
      Meal Preferences
    </h4>
    <p>
      <% if meal_preference %>
        My diet includes <strong><%= meal_preference.display_diet_names %></strong>.
        <% if allergen_names = meal_preference.allergen_names.presence %>
          <br>
          I am allergic to <strong><%= allergen_names.to_sentence %></strong>.
        <% end -%>
      <% else -%>
        What foods do you enjoy?
      <% end -%>
      <br>
      <%= link_to meal_preference ? "edit" : "add meal preferences", account_meal_preference_path, class: "btn btn-xs btn-info" %>
    </p>
  </div>

  <div class="page-section">
    <h4>
      Delivery Address
    </h4>
    <p>
      <% if delivery_address %>
        <%= render :partial => 'spree/shared/vcard', :locals => { :address => @user.default_address } %>
        <% if delivery_instructions = @user.default_address.delivery_instructions.presence %>
          <span class="delivery-instructions"><%= delivery_instructions %></span>
        <% end -%>
      <% else -%>
        Where would you like your meals delivered?
        <br>
      <% end -%>
      <%= link_to delivery_address ? "edit" : "add delivery address", account_address_path, class: "btn btn-xs btn-info" %>
    </p>
  </div>

  <div class="page-section">
    <h4>
      Payment Card
    </h4>
    <p>
      <% if credit_card %>
        <%= render :partial => 'spree/shared/credit_card', :locals => { :card => credit_card } %>
      <% else -%>
        How would you like to be billed?
      <% end -%>
      <br>
      <%= link_to credit_card ? "edit" : "add payment card", account_cards_path, class: "btn btn-xs btn-info" %>
    </p>
  </div>

  <h3><%= Spree.t(:orders) %></h3>
  <% if @orders.present? %>
    <table class="table table-condensed table-striped">
      <thead>
      <tr>
        <th><%= I18n.t(:number, :scope => 'activerecord.attributes.spree/order') %></th>
        <th class="text-center"><%= Spree.t(:date) %></th>
        <th class="text-right"><%= Spree.t(:total) %></th>
      </tr>
      </thead>
      <tbody>
      <% @orders.each do |order| %>
        <tr>
          <td><%= link_to order.number, order_url(order) %></td>
          <td class="text-center"><%= l order.completed_at.to_date %></td>
          <td class="text-right"><%= order.display_total %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% else %>
    <p>No orders yet. <%= link_to "view menu", spree.root_path(anchor: "menu") %></p>
  <% end %>
</div>
