<div class="container container--main">
  <h1>
    <%= "Your Account" || Spree.t(:account) %>
    <%= link_to Spree.t(:logout), spree.logout_path, class: "btn btn-default btn-xs btn-info" %>
  </h1>

  <p>
    <%= @user.email %>
    <br>
    <%= link_to "edit", spree.edit_account_path, class: "btn btn-xs btn-info" %>
  </p>

  <%
    if meal_preference = @user.meal_preference
      diets = Spree::MealPreference.diets.select { |diet| meal_preference.send(diet) }.map { |diet| meal_preference.diet_name(diet) }
      allergens = Spree::MealPreference.allergens.select { |allergen| meal_preference.send(allergen) }.map { |allergen| meal_preference.allergen_name(allergen) }
    end
  %>
  <div class="page-section">
    <h4>
      Meal Preferences
    </h4>
    <% if meal_preference %>
      <p>
        My diet includes <strong><%= diets.to_sentence.presence || "vegetarian" %></strong>.
        <% if allergens.present? %>
          <br>
          I am allergic to <strong><%= allergens.to_sentence %></strong>.
        <% end -%>
        <br>
        <%= link_to "edit", account_meal_preference_path, class: "btn btn-xs btn-info" %>
      </p>
    <% else -%>
      <p>What foods do you enjoy? <%= link_to "add meal preferences", account_meal_preference_path %></p>
    <% end -%>
  </div>

  <%
    delivery_address = @user.default_address
  %>
  <div class="page-section">
    <h4>
      Delivery Address
    </h4>
    <p>
      <% if delivery_address %>
        <%= render :partial => 'spree/shared/vcard', :locals => { :address => @user.default_address } %>
        <% if delivery_instructions = @user.default_address.delivery_instructions.presence %>
          <em><%= delivery_instructions %></em>
          <br>
        <% end -%>
        <%= link_to "edit", account_address_path, class: "btn btn-xs btn-info" %>
      <% else -%>
        Where should we deliver your meals? <%= link_to "add delivery address", account_address_path%>
      <% end -%>
    </p>
  </div>

  <% credit_card = @user.default_credit_card %>
  <div class="page-section">
    <h4>
      Payment Card
    </h4>
    <p>
      <% if credit_card %>
        <%= Spree.t(credit_card.cc_type) %>
        <small><%= credit_card.last_digits %> <%= "#{credit_card.month}/#{credit_card.year}" %></small>
        <br>
        <%= link_to "edit", account_cards_path, class: "btn btn-xs btn-info" %>
      <% else -%>
        How would you like to be billed? <%= link_to "add payment card", account_cards_path %>
      <% end -%>
    </p>
  </div>

  <% meal_subscription = @user.meal_subscription %>
  <div class="page-section">
    <h4>
      Subscription
    </h4>
    <p>
      <% if meal_subscription %>
        <% if meal_subscription.status == "disabled" %>
          Subscription is disabled.
        <% else -%>
          <%= meal_subscription.meal_count %> meals, delivered every <%= meal_subscription.delivery_day.titleize %>, <%= meal_subscription.delivery_window %>.
        <% end -%>
        <br>
        <%= link_to "edit", account_meal_subscription_path, class: "btn btn-xs btn-info" %>
      <% else -%>
        <% if meal_preference && delivery_address && credit_card %>
          Become a Din Regular. <%= link_to "create a subscription", account_meal_subscription_path %>
        <% else
          todo = []
          todo.push(link_to "add meal preferences", account_meal_preference_path) unless meal_preference
          todo.push(link_to "add delivery address", account_address_path) unless delivery_address
          todo.push(link_to "add payment method", account_cards_path) unless credit_card
        -%>
          Before you can become a regular, <%= todo.to_sentence.html_safe %>.
        <% end -%>
      <% end -%>
    </p>
  </div>

  <div class="page-section">
    <% if @personal_referral_promo %>
      <h2>Share the Din Love</h2>
      <p>Give a friend <strong><%= @personal_referral_promo.description.sub(/your/, 'their') %></strong> by having them visit your personal referral link: <%= link_to(nil, main_app.personal_promo_url(@personal_referral_promo.path)) %></p>
    <% end %>
  </div>

  <h3><%= Spree.t(:orders) %></h3>
  <% if @orders.present? %>
    <table class="table table-condensed table-striped">
      <thead>
      <tr>
        <th><%= I18n.t(:number, :scope => 'activerecord.attributes.spree/order') %></th>
        <th class="text-center"><%= Spree.t(:date) %></th>
        <th class="text-right"><%= Spree.t(:total) %></th>
      </tr>
      </thead>
      <tbody>
      <% @orders.each do |order| %>
        <tr>
          <td><%= link_to order.number, order_url(order) %></td>
          <td class="text-center"><%= l order.completed_at.to_date %></td>
          <td class="text-right"><%= order.display_total %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% else %>
    <p>No orders yet. <%= link_to "view menu", spree.root_path(anchor: "menu") %></p>
  <% end %>
</div>
