<% content_for :head do %>
  <script type="text/javascript">
    var metadata = {}
    <% if simple_current_order %>
      metadata.item_count = <%= simple_current_order.item_count %>
      metadata.cart_total = <%= simple_current_order.total.to_f %>
    <% end -%>
    track({name: "visited sign up", metadata: metadata});
  </script>
<% end -%>

<% @body_id = 'signup' %>

<div class="bg-tan">
  <div class="container container--main">

    <h1 class="hr-header"><%= Spree.t(:create_a_new_account) %></h1>

    <%= render 'spree/shared/error_messages', target: resource %>

    <%= form_for resource, :as => :spree_user, :url => spree.registration_path(resource), html: {class: "form-container"} do |f| %>

      <%= render :partial => 'spree/shared/user_form', :locals => { :f => f } %>

      <div class="form-footer">
        <%= f.submit Spree.t(:create_a_new_account), class: 'btn btn-primary btn-block' %>
      </div>

    <% end %>

    <p class="form-footer text-center">Have an account? <%= link_to Spree.t(:login), spree.login_path %></p>
  </div>
</div>
