<span class="adr">
  <span class="street-address">
    <span class="street-address-line">
      <%= address.address1 %><% unless address.address2.blank? %>,<% end -%>
    </span>
    <% unless address.address2.blank? %>
      <span class="street-address-line">
        <%= address.address2 %>,
      </span>
    <% end %>
  </span>
  <span class="local">
    <span class="locality"><%= address.city %></span>
    <span class="region"><%= address.state_text %></span>
    <span class="postal-code"><%= address.zipcode %></span>
    <% if false %>
      <span class="country-name"><%= address.country.try(:name) %></span>
    <% end -%>
  </span>
</span>
