<%= form_for :order, :url => populate_orders_path do |f| %>
  <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
    <span itemprop="priceCurrency" content="<%= product.currency %>"></span>
    <link itemprop="availability" href="http://schema.org/InStock" />
    <%= hidden_field_tag "variant_id", product.master.id %>
    <%= hidden_field_tag :quantity, 1 %>
    <div class="product__offers">
      <%= button_tag type: :submit, class: "btn btn-success" do %>
        Add 2 Servings &nbsp;&bull;&nbsp; <span itemprop="price"><%= display_price(product) %></span>
      <% end %>
      <%= button_tag type: :submit, class: "btn btn-default" do %>
        View Details &nbsp;&bull;&nbsp; <span itemprop="time"><%= product.property('time') %> Min Prep</span>
      <% end %>
    </div>
  </div>
<% end %>
