<%- available =  product.master.can_supply? -%>
<%= form_for :order, :url => populate_orders_path do |f| %>
  <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
    <span itemprop="priceCurrency" content="<%= product.currency %>"></span>
    <link itemprop="availability" href="http://schema.org/InStock" />
    <%= hidden_field_tag "variant_id", product.master.id %>
    <%= hidden_field_tag :quantity, 1 %>
    <div class="product__offers">
      <%= button_tag type: :submit, class: "btn btn-primary", disabled: !available do %>
        <%= available ? Spree.t(:add_dish) : Spree.t(:out_of_stock) %>
        <span class="list-button" itemprop="price"><%= display_price(product) %></span>
      <% end %>
      <%= button_tag type: :submit, class: "btn btn-default" do %>
        View Details <span class="list-button" itemprop="time"><%= product.property('time-minutes') %> Min Cook Time</span>
      <% end %>
    </div>
  </div>
<% end %>
