<%= form_for :order, :url => populate_orders_path do |f| %>
  <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
    <span itemprop="priceCurrency" content="<%= product.currency %>"></span>
    <link itemprop="availability" href="http://schema.org/InStock" />
    <%= hidden_field_tag "variant_id", product.master.id %>
    <%= hidden_field_tag :quantity, 1 %>
    <div class="product__order text-center">
      <%= button_tag type: :submit, class: "btn btn-primary product__order-button" do %>
        Add 2 Servings <span class="list-button" itemprop="price"><%= display_price(product) %></span>
      <% end %>
    </div>
  </div>
<% end %>
