<%= form_for :order, :url => populate_orders_path, html: { class: "add-product-form", 'data-name': product.name, 'data-id': product.id, 'data-restaurant': product.restaurant.try(:name), 'data-chef': product.chef.try(:name) } do |f| %>
  <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
    <span itemprop="priceCurrency" content="<%= product.currency %>"></span>
    <link itemprop="availability" href="http://schema.org/InStock" />
    <%= hidden_field_tag "variant_id", product.master.id %>
    <%= hidden_field_tag :quantity, 1 %>
    <div class="product__offers">
      <%= add_to_cart_button(product) %>
      <%= link_to spree.product_path(product, taxon_id: @taxon.try(:id)), class: "btn btn-default" do %>
        View Details <span class="list-button" itemprop="time"><%= product.property('time-minutes') %> Min Cook Time</span>
      <% end %>
    </div>
  </div>
<% end %>
