<%
  paginated_products = @searcher.retrieve_products if params.key?(:keywords)
  paginated_products ||= products
%>

<% content_for :head do %>
  <% if paginated_products.respond_to?(:num_pages) %>
    <%= rel_next_prev_link_tags paginated_products %>
  <% end %>
<% end %>

<% if products.empty? %>
  <h1><%= Spree.t(:no_products_found) %></h1>
<% elsif params.key?(:keywords) %>
  <h1><%= Spree.t(:search_results, keywords: h(params[:keywords])) %></h1>
<% end %>

<% if products.any? %>
  <div class="menu">
    <% products.each do |product| %>
      <% url = spree.product_path(product, taxon_id: @taxon.try(:id)) %>
      <div id="product_<%= product.id %>" itemscope itemtype="http://schema.org/Product">
        <% cache(@taxon.present? ? [I18n.locale, current_currency, @taxon, product] : [I18n.locale, current_currency, product]) do %>

          <%= link_to url do %>
            <%= image_tag product.display_image.attachment(:menu), itemprop: "image", class: "product-image" %>
            <h2 itemprop="name"><%= product.name %></h2>
            <% if product.property('tagline').present? %>
              <p><%= product.property('tagline') %></p>
            <% end -%>
            <span itemprop="offers" itemscope itemtype="http://schema.org/Offer">
              <span itemprop="price" content="<%= display_price(product) %>"></span>
            </span>
          <% end -%>

          <%= render :partial => 'spree/shared/order_form', :locals => { :product => product } %>

        <% end %>
      </div>
    <% end %>
    <% reset_cycle("classes") %>
  </div>
<% end %>

<% if paginated_products.respond_to?(:num_pages) %>
  <%= paginate paginated_products %>
<% end %>
