<%
  paginated_products = @searcher.retrieve_products if params.key?(:keywords)
  paginated_products ||= products
  subscription_menu ||= false
%>

<% content_for :head do %>
  <% if paginated_products.respond_to?(:num_pages) %>
    <%= rel_next_prev_link_tags paginated_products %>
  <% end %>
<% end %>

<% if products.empty? %>
  <h1><%= Spree.t(:no_products_found) %></h1>
<% elsif params.key?(:keywords) %>
  <h1><%= Spree.t(:search_results, keywords: h(params[:keywords])) %></h1>
<% end %>

<% if products.any? %>
  <div class="container product-list">
    <% products.each do |product| %>
      <% url = spree.product_path(product, taxon_id: @taxon.try(:id)) %>
      <div class="product product--list-item" itemscope itemtype="http://schema.org/Product">
        <% cache(@taxon.present? ? [I18n.locale, current_currency, @taxon, product] : [I18n.locale, current_currency, product]) do %>

          <%= link_to url, class: "product__link" do %>
            <%= image_tag(product.display_image.attachment(:detail), itemprop: "image", class: "product__image") %>
            <div class="product__details">
              <h2 class="product__name black-link" itemprop="name">
                <%= product.name %>
              </h2>
              <% if product.property('tagline').present? %>
                <div class="product__tagline grey-link"><%= product.property('tagline') %></div>
              <% end -%>
              <h4 class="product__restaurant-name block--above"><%= product.restaurant.try(:name) %></h4>
            </div>
          <% end -%>

          <span itemprop="offers" itemscope itemtype="http://schema.org/Offer">
            <span itemprop="price" content="<%= display_price(product) %>"></span>
          </span>

          <% if subscription_menu %>
            <p class="text-center"><em><%= support_email_link("Update subscription meals", "Contact support") %> to change your subscription meals.</em></p>
          <% else -%>
            <%= render partial: 'spree/shared/order_form', locals: { product: product, button_type: "product-list" } %>
          <% end -%>

        <% end %>
      </div>
    <% end %>
    <% reset_cycle("classes") %>
  </div>
<% end %>

<% if paginated_products.respond_to?(:num_pages) %>
  <%= paginate paginated_products %>
<% end %>
