<div class="form-group">
  <%= f.label :email, Spree.t(:email) %>
  <%= f.email_field :email, :class => 'form-control' %>
</div>
<div class="row">
  <div class="col-sm-6 form-group">
    <%= f.label :password, Spree.t(:password) %>
    <%= f.password_field :password, :class => 'form-control' %>
  </div>
  <div class="col-sm-6 form-group">
    <%= f.label :password_confirmation, Spree.t(:confirm_password) %>
    <%= f.password_field :password_confirmation, :class => 'form-control' %>
  </div>
</div>
