<% content_for :head do %>
  <script type="text/javascript">
    $(function() {
      var metadata = {
        kitchen_open: <%= KITCHEN.open? %>,
        authenticated: <%= spree_current_user.present? %>,
        product_ids: [],
        product_names: [],
        products_purchasable: []
      };
      $(".add-product-form").each(function(i) {
        var productData = productMetadata(this);
        metadata.product_ids.push(productData.product_id);
        metadata.product_names.push(productData.name);
        metadata.products_purchasable.push(productData.purchasable);
      });
      trackAmplitude({name: 'Visited Homepage', metadata: metadata});
      $(".js_learn_more_button").click(function(){
        trackAmplitude({name: 'Purchase Intent - Learn more'});
      });
      $(".js_view_menu_button").click(function(){
        trackAmplitude({name: 'Purchase Intent - View menu'});
      });

      $("#how-din-works").waypoint({
        <%# This waypoint prevents recording product purchase button %>
        offset: '40%',
        continuous: false,
        handler: function(direction) {
          if (direction == "down") {
            trackAmplitude({name: 'Purchase Intent - Viewed learn more'});
          }
        }
      });

    });
  </script>
  <%= render partial: 'shared/purchase_funnel_tracking' %>
<% end -%>

<div class="bg-tan">
  <div class="jumbotron index-hero">
    <div class="container">
      <h1 class="hr-header home-heading">Recreate Restaurant Dishes at Home</h1>
      <p class="sub-header text-center type-serif">in about 20 minutes</p>
      <div class="text-center">
        <a class="btn btn-default learn-more-button js_learn_more_button" href="#how-din-works">Learn how Din works</a>
      </div>
    </div>
  </div>
</div>

<div id="menu" class="container--main">
  <div class="menu-header">
    <% unless KITCHEN.open? %>
      <div class="kitchen-closed">
        <%= render :partial => 'spree/shared/kitchen_reopens' %>
      </div>
      <% next_open = KITCHEN.next_opens %>
      <h2 class="hr-header">Menu</h2>
      <div class="sub-header text-center bottom30">
        <%= Time.current.next_week(:monday).to_s(:ordinal_weekday_month_day) %>
      through
      <%= Time.current.next_week(:friday).to_s(:ordinal_weekday_month_day) %>
      </div>
    <% else %>
      <h2 class="hr-header">Menu</h2>
      <div class="sub-header text-center bottom30">
        <%= Time.current.advance(:days => - 7).next_week(:monday).to_s(:ordinal_weekday_month_day) %>
      through
      <%= Time.current.advance(:days => - 7).next_week(:friday).to_s(:ordinal_weekday_month_day) %>
      </div>
    <% end -%>
  </div>
  <% cache(cache_key_for_products) do %>
    <%= render :partial => 'spree/shared/products', :locals => { :products => @products } %>
  <% end %>
</div>

<div class="bg-tan">
  <div id="how-din-works" class="container container--main how-din-works">
    <h2 class="how-din-works__title">How Din Works</h2>

    <div class="how-din-works__step">
      <h4 class="how-din-works__header">We feature the best dishes from top restaurants.</h4>
      <div class="how-din-works__description">
        <p>
          Our menu changes weekly based upon seasons and restaurant partnerships.
          Meals will stay fresh in your fridge for 2–4 days depending on ingredients.
        </p>
      </div>
    </div>

    <div class="how-din-works__step">
      <h4 class="how-din-works__header">You select from our menu.</h4>
      <div class="how-din-works__description">
        <p>
          Menu options are based upon availability from our restaurant partners.
        </p>
      </div>
    </div>

    <div class="how-din-works__step">
      <h4 class="how-din-works__header">You select a delivery window.</h4>
      <div class="how-din-works__description">
        We currently deliver Monday through Friday.</br></br>
      </div>
      <table class="table small table-striped how-din-works__table">
        <thead>
          <tr>
            <th class="how-din-works-table__location">location</th>
            <th class="how-din-works-table__cutoff">order by</th>
            <th class="how-din-works-table__window">delivery</th>
            <th class="how-din-works-table__price">price</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="how-din-works-table__location">SF Bay Area</td>
            <td class="how-din-works-table__cutoff">noon</td>
            <td class="how-din-works-table__window">1–5pm</td>
            <td class="how-din-works-table__price">$6.99</td>
          </tr>
          <tr>
            <td class="how-din-works-table__location">San Francisco</td>
            <td class="how-din-works-table__cutoff">noon</td>
            <td class="how-din-works-table__window">1–5pm</td>
            <td class="how-din-works-table__price">$4.99</td>
          </tr>
          <tr>
            <td class="how-din-works-table__location">San Francisco</td>
            <td class="how-din-works-table__cutoff">5pm</td>
            <td class="how-din-works-table__window">6–8pm</td>
            <td class="how-din-works-table__price">$6.99</td>
          </tr>
          <tr>
            <td class="how-din-works-table__location">San Francisco</td>
            <td class="how-din-works-table__cutoff">5pm</td>
            <td class="how-din-works-table__window">6–7pm</td>
            <td class="how-din-works-table__price">$8.99</td>
          </tr>
          <tr>
            <td class="how-din-works-table__location">San Francisco</td>
            <td class="how-din-works-table__cutoff">5pm</td>
            <td class="how-din-works-table__window">7–8pm</td>
            <td class="how-din-works-table__price">$8.99</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="how-din-works__step">
      <h4 class="how-din-works__header">We deliver prepared ingredients to your door.</h4>
      <div class="how-din-works__description">
        <p>
          You will receive a text message when your delivery is en route.
        </p>

      </div>
    </div>

    <div class="how-din-works__step">
      <h4 class="how-din-works__header">You cook an incredible meal in about 20–30 minutes.</h4>
      <div class="how-din-works__description">
        <p>Gather around the table with your loved ones to share stories of your day.</p>
        <p>
          <a class="btn btn-primary js_view_menu_button" href="#menu">View the Din menu</a>
        </p>
      </div>
    </div>

  </div>
</div>


<div class="bg-tan">
  <div id="press" class="container press-coverage">
    <div class="row">
      <div class="col-xs-12">
        <%= inline_svg("press/wall-street-journal.svg", class: "press-logo") %>
        <%= inline_svg("press/eater.svg", class: "press-logo") %>
        <%= inline_svg("press/techcrunch.svg", class: "press-logo") %>
        <%= inline_svg("press/food-and-wine.svg", class: "press-logo") %>
        <%= inline_svg("press/new-york-times.svg", class: "press-logo") %>
        <%= inline_svg("press/thekitchn.svg", class: "press-logo") %>
      </div>
    </div>
  </div>
</div>