<% content_for :head do %>
  <script type="text/javascript">
    $(function() {
      $(".add-product-form").submit(function() {
        var metadata = {
          product_id: $(this).data("id"),
          name: $(this).data("name"),
          restaurant: $(this).data("restaurant"),
          chef: $(this).data("chef")
        }
        track({name: 'added product', metadata: metadata});
      })
    });
  </script>
<% end -%>

<div class="bg-tan">
  <div class="jumbotron index-hero">
    <div class="container">
      <h1 class="hr-header">Recreate Restaurant Dishes at Home</h1>
      <p class="sub-header text-center type-serif">in about 20 minutes</p>
      <div class="text-center">
        <a class="btn btn-default learn-more-button" href="#how-din-works">Learn how Din works</a>
      </div>
    </div>
  </div>
</div>

<div id="menu" class="container--main">
  <div class="menu-header">
    <% unless KITCHEN.open? %>
      <div class="kitchen-closed">
        <%= render :partial => 'spree/shared/kitchen_reopens' %>
      </div>
      <% next_open = KITCHEN.next_opens %>
      <h2 class="hr-header"><%= next_open.to_s(:weekday) %>’s Menu</h2>
      <div class="sub-header text-center bottom30">
        <%= next_open.to_s(:ordinal_weekday_month_day) %>
      </div>
    <% else %>
      <h2 class="hr-header">Today’s Menu</h2>
      <div class="sub-header text-center bottom30">
        <%= Time.current.to_s(:ordinal_weekday_month_day) %>
      </div>
    <% end -%>
  </div>
  <% cache(cache_key_for_products) do %>
    <%= render :partial => 'spree/shared/products', :locals => { :products => @products } %>
  <% end %>

</div>

<div class="bg-tan">
  <div id="how-din-works" class="container container--main how-din-works">
    <h2 class="how-din-works__title">How Din Works</h2>

    <div class="how-din-works__step">
      <h4 class="how-din-works__header">We feature the best dishes from top restaurants.</h4>
      <div class="how-din-works__description">
        <p>Our menu changes weekly based upon seasons and restaurant partnerships.</p>
        <!-- <p>Suggest a restaurant.</p> -->
      </div>
    </div>

    <div class="how-din-works__step">
      <h4 class="how-din-works__header">You select from our menu.</h4>
      <div class="how-din-works__description">
        <p>
          We’re currently open Mon, Tue, and Wed <em>and expanding weekly!</em>
          Daily ordering opens at midnight.
          Inventory is based upon meal popularity.
        </p>
      </div>
    </div>

    <div class="how-din-works__step">
      <h4 class="how-din-works__header">You select a delivery window.</h4>
      <div class="how-din-works__description">
        <p><em>Free 1–5pm delivery</em> for orders over $60.</p>
      </div>
      <table class="table small table-striped how-din-works__table">
        <thead>
          <tr>
            <th class="how-din-works-table__location">location</th>
            <th class="how-din-works-table__cutoff">order by</th>
            <th class="how-din-works-table__window">delivery</th>
            <th class="how-din-works-table__price">price</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="how-din-works-table__location">SF Bay Area</td>
            <td class="how-din-works-table__cutoff">noon</td>
            <td class="how-din-works-table__window">1–5pm</td>
            <td class="how-din-works-table__price">$6.99</td>
          </tr>
          <tr>
            <td class="how-din-works-table__location">San Francisco</td>
            <td class="how-din-works-table__cutoff">noon</td>
            <td class="how-din-works-table__window">1–5pm</td>
            <td class="how-din-works-table__price">$4.99</td>
          </tr>
          <tr>
            <td class="how-din-works-table__location">San Francisco</td>
            <td class="how-din-works-table__cutoff">5pm</td>
            <td class="how-din-works-table__window">6–8pm</td>
            <td class="how-din-works-table__price">$6.99</td>
          </tr>
          <tr>
            <td class="how-din-works-table__location">San Francisco</td>
            <td class="how-din-works-table__cutoff">5pm</td>
            <td class="how-din-works-table__window">6–7pm</td>
            <td class="how-din-works-table__price">$8.99</td>
          </tr>
          <tr>
            <td class="how-din-works-table__location">San Francisco</td>
            <td class="how-din-works-table__cutoff">5pm</td>
            <td class="how-din-works-table__window">7–8pm</td>
            <td class="how-din-works-table__price">$8.99</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="how-din-works__step">
      <h4 class="how-din-works__header">We deliver prepared ingredients to your door.</h4>
      <div class="how-din-works__description">
        <p>
          You will receive a text message when your delivery is en route.
          <em>SF delivery notifications have a live delivery map.</em>
        </p>

      </div>
    </div>

    <div class="how-din-works__step">
      <h4 class="how-din-works__header">You cook an incredible meal in about 20–30 minutes.</h4>
      <div class="how-din-works__description">
        <p>Gather around the table with your loved ones to share stories of your day.</p>
        <p>
          <a class="btn btn-primary" href="#menu">View the Din menu</a>
        </p>
      </div>
    </div>

  </div>
</div>
