<div id="menu" class="container--main">
  <div class="menu-header">
    <h2 class="hr-header">Menu Preview</h2>
    <div class="sub-header text-center bottom30">
      <%= Time.current.next_week(:monday).to_s(:ordinal_weekday_month_day) %>
      thru
      <%= Time.current.next_week(:wednesday).to_s(:ordinal_weekday_month_day) %>
    </div>
    <p class="text-center">
      Pre-order only available to Din subscribers.
    </p>
    <p class="text-center">
      <% if @user.meal_subscription %>
        <%= support_email_link("Update subscription meals", "Contact support") %> to change your subscription meals.
      <% else -%>
        Become a Din subscriber: <%= link_to "create a subscription", account_meal_subscription_path %>
      <% end -%>
    </p>
  </div>
  <% puts "view.cache_key_for_subscription_products: #{cache_key_for_subscription_products}" %>
  <% cache(cache_key_for_subscription_products) do %>
    <%= render partial: 'spree/shared/products', locals: { products: @products, subscription_menu: true } %>
  <% end %>
</div>
